    <form class="form-inline" method="GET" action="/result/" >
        <div class="form-group">
            <label class="sr-only" for="words">Ключевые слова</label>
            <input type="text" class="form-control" id="words" placeholder="Ключевые слова" name="keywords"
                       value="{{ search_form.keywords.data }}">

        </div>

        <div class="input-group">
          <span class="input-group-addon"><label for="city-select">Город</label></span>
          <select id="{{ search_form.region.name }}" class="form-control" name="{{ search_form.region.name }}">
            {% for choice_id, choice_value in search_form.region.choices %}
              <option value="{{ choice_id }}" {% if choice_id == search_form.region.data %} selected{% endif %}>{{ choice_value }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <div class='input-group date' id='datetimepicker6' >
                <input type='text' class="form-control" placeholder="c" name="date_from"
                       value="{{ search_form.date_from.data }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" placeholder="по" name="date_to"
                       value="{{ search_form.date_to.data }}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Поиск</button>

    </form>